body {
    background-color: seashell;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    height: fit-content;
    width: 100%
}

#containerDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    width: 100%;
}


.delete_icon {
    font-size: 1rem;
    width: fit-content;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    color: black;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    color:  white;
}


.lists {
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: flex-start;
    padding: 10px;
    border-bottom:1px solid black;
    max-width: 100%;
    overflow: hidden;
}

.lists p {
    float: left;
    text-align: left;
    width: 100%;;
}

a {
    line-clamp: 1;
}

.date-time {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.video-link {
    font-size: 12px;
    color: #0077FF;
}

.video-duration {
    font-size: 12px;
    color: #999;
}

details {
    max-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: -1px 10px 5px 0px rgba(231,216,216,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(231,216,216,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(231,216,216,0.75);
    border-radius: 10px;
    padding: 14px;
}